data/*.csv
data/*.zip

# models/*.pkl
# models/*.joblib
models/cleaned_data.pkl
models/balanced_data.pkl
models/processed_data.pkl


logs/*.log
!logs/alerts.log

__pycache__/
*.zip
kaggle.json
.ipynb_checkpoints/

.DS_Store
Thumbs.db